<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.mizhuo.marry.portal.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="site.mizhuo.marry.portal.domain.UserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="wechart_open_id" jdbcType="VARCHAR" property="wechartOpenId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>